# Smooth fit to log-odds ratios
**objective** : The objective of this study is to observe the influence/association between death from maternal exposure to X-rays and childhood cancer for subjects partitioned into 120 age and birth-year strata.

## 1. Data

Description : 
- $r^0_i$ : is the number of deaths among unexposed subjects in stratum $i$, 
- $n^0_i$ : is the total number of unexposed subjects in stratum $i$, 
- $r^1_i$ : is the number among exposed subjects in stratum $i$, 
- $n^1_i$ : is the total number of exposed subjects in stratum $i$
- $\text{year}_i$ : is the stratum-specific birth year (relative to 1954).

In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("data/data.csv")
df

     r0  n0  r1  n1  year
0     0  28   3  28   -10
1     2  21   5  21    -9
2     2  32   2  32    -9
3     1  35   7  35    -8
4     2  35   7  35    -8
..   ..  ..  ..  ..   ...
115   2  51   5  51     8
116   4  42   7  42     8
117   6  46   6  46     9
118   4  54   3  54     9
119   1  32   7  32    10

[120 rows x 5 columns]